@import '../../index.scss';

.tour-list {
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0;

}

@media screen and (min-width:768px) {
    .tour-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (min-width:992px) {
    .tour-list {
        width: 85vw;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1140px) {
    .tour-list {
        grid-template-columns: repeat(4, 1fr);
    }
}