* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainWhite: #fff;
$mainGrey: #ececec;
$mainBlack: #222;
$mainGreen: #82b340;

body {
    background: $mainWhite;
    color:$mainBlack;
    font-family: 'Open Sans', 'sans-serif';
}